body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #fb95e5, #7ea8cf);
  font-weight: bold;
  font-size: 35px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: #c4d8ea;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2e1e96;
  margin-bottom: 15px;
}